.able {
  background: none;
  box-shadow: none;
}
.able-player {
  background: none;
}
.able-controller {
  background: none;
  border: none;
}
.able-white-controls button {
  color: #bd9828 !important;
  outline: 2px solid #e8e8e8;
}
.able-status-bar {
  color: black;
}
.able-speed {
  display: inline !important;
}
.able-seekbar {
  background-color: #bd9828;
}
.able-seekbar-loaded {
  height: 0.2em;
  background-color: darken(#bd9828, 10%);
}
.able-transcript-area {
  background: none;
  border: none;
}
.able-transcript {
  background: none;
}
.able-window-toolbar {
  background: none;
}
.able-window-toolbar label {
  color: $on-gray-bg;
}
.able-white-controls {
  color: $on-gray-bg !important;
}
