.flyout {
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: -100px;
  width: 800px;
}
.btn.open-button {
  background: none;
  border: 1px solid #fff;
  border-radius: 50%;
  bottom: 30px;
  height: 120px;
  padding: 5px;
  position: absolute;
  right: 30px;
  width: 120px;
}

.btn.open-button img {
  background: none;
  border: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.btn.open-button:focus {
  background: #fff;
}
.flyout-panel {
  background: #e8e8e8;
  min-height: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  transition: right 0.5s;
  right: -700px;
  z-index: 9;
  width: 700px;

  &.opened {
    right: 0;
  }

  .title {
    margin-top: 20px;
  }

  p {
    color: #2c3e50;
  }
}
